@import 'fonts';
@import 'reset';
@import './themes.scss';
  
body {
  font-family: 'FixelVariable';
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 48px;

  }
}